header{
    margin-top: 20px;
}

nav{
    max-width: 600px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    .logo{
        cursor: pointer;

        h1{
            font-weight: 800;
            letter-spacing: 2px;
            font-size: 30px;

            @include scale-text();
            a{
                @include scale-text();
                &:hover{
                    color: $one-color
                }
            }
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    .navbar{
        max-width: 400px;
        width: 400px;
        
        margin: 14px 0 40px 0;
        
        ul{
            height: 60px;

            display: flex;
            justify-content: space-around;

            li:first-child:hover{
                color: $five-color;
            }

            li:nth-child(2):hover{
                color: $two-color;
            }

            li:nth-child(3):hover{
                color: $three-color;
            }

            li:last-child:hover{
                color: $four-color;
            }

            li{
                height: 60px;

                font-size: 14px;
                font-weight: 600;

                cursor: pointer;

                display: flex;
                align-items: center;

                @include scale-text();

                padding: 10px;
                    
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}
